.navbar-modern {
  /* background: #1a1a1a; */
  border-bottom: 1px solid #596e837c;
}

.navbar-modern .navbar-brand {
  font-weight: 700;
  font-size: 1.5rem;
}

.navbar-modern .nav-link {
  position: relative;
  color: white;
  transition: all 0.3s ease;
}

.navbar-modern .nav-link:hover {
  color: #007bff !important;
}

.navbar-modern .nav-link::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 0;
  height: 2px;
  background: #007bff;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.navbar-modern .nav-link:hover::after {
  width: 100%;
}

.search-wrapper {
  width: 100%;
  max-width: 920px;
}

@media (max-width: 991px) {
  .search-wrapper {
    order: 3;
    max-width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .navbar-nav {
    text-align: center;
  }
}

/* Logo styles */
.logo {
  font-size: 1.5rem;
  font-weight: bold;
}
